# .gitignore

# Node.js dependencies
/client/node_modules/
/client/.pnp
/client/.pnp.js
/client/.yarn/install-state.gz

# Front-end build artifacts
/client/build/
/client/.next/
/client/out/

# Back-end build artifacts
/server/build/

# IDE-specific files
.vscode/



# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts